OPENAI_API_KEY=
# OPENAI_GPT_MODEL = gpt-3.5-turbo || gpt-4
OPENAI_GPT_MODEL=

# Update these with your Supabase details from your project settings > API and dashboard settings
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=
PINECONE_NAME_SPACE=

# Add your data file path here
DATA_FILE_PATH=
